@tailwind base;
@tailwind components;
@tailwind utilities;


.article-content {
  @apply prose prose-lg prose-pink max-w-none prose-headings:font-heading prose-img:rounded-xl prose-img:shadow-md prose-img:mx-auto prose-pre:bg-[#1a1b26] prose-pre:text-gray-200 prose-pre:p-6 prose-pre:rounded-xl prose-pre:border prose-pre:border-gray-800 prose-pre:shadow-lg dark:prose-invert;
}

.article-content a {
  @apply text-pink-600 hover:text-pink-700 underline decoration-pink-300 underline-offset-4 transition;
}

.article-content code:not(pre code) {
  @apply bg-gray-100 text-pink-600 px-1.5 py-0.5 rounded font-mono text-sm dark:bg-gray-800 dark:text-pink-400;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full hover:bg-pink-300 transition-colors;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f3f4f6 transparent;
}